<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="" style="height: 470px">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">用户:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-category_id"  data-field="uid" placeholder="请输入用户名"  class="form-control " name="row[uid]" type="text"  value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">金额:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" class="form-control" id="value" name="row[money]" value="" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">后缀:</label>
        <div class="col-xs-12 col-sm-8">
           <select class="form-control selectpicker" id="suffix" onchange="getSuffixApi(this)" name="row[suffix]">
                <option value="0">请选择后缀</option>
                {foreach $suffix as $k => $v}
                    <option value="{$v}">{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group" id="api">
        <label for="value" class="control-label col-xs-3 col-sm-2">注册接口商:</label>
        <div class="col-xs-6 col-sm-8">
            <select class="form-control" id="ref" name="row[reg]">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">开始时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control datetimepicker" data-date-format="Y-MM-DD HH:mm:ss" id="value2222" name="row[stime]" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">结束时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control datetimepicker" data-date-format="Y-MM-DD HH:mm:ss" id="value2222" name="row[etime]" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">状态</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label for="t1"><input id="t1" checked name="row[status]"  type="radio" value="0">启用</label> 
                <label for="t2"><input id="t2" name="row[status]" type="radio" value="1">禁用</label>
            </div> 
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>