<form class=" form-horizontal" role="form" data-toggle="validator" method="POST" action="/admin/total/outshopcut/index">
    <!-- <h3>域名归属地查询</h3> -->
    <div class="form-group">
        <label for="bh" class="control-label col-xs-12 col-sm-2">域名列表:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="domain" style="width: 378px;" rows="7" id="bh" placeholder="域名之间请用回车隔开,每次最多可提交500个域名！" data-rule="required" >{php}if($show =='aa'){ foreach($domain as $v){ echo $v."\n"; }  }{/php}</textarea>
        </div>
    </div>
    <div class="form-group" style="margin-left: 23% ;">
        <button type="submit" class="btn btn-success btn-embossed" style="margin-left: 3%">查询</button>&nbsp;&nbsp;
        <div class="btn  btn-embossed" disabled  ><b>查询后总数量:<span style="color: red"> {$total} </span>  查询店铺ID数量 <span style="color: red">{$unum|default="0"}</span></b></div>
    </div>
</form> 

<table id="" class="table table-striped table-bordered table-hover" data-operate-edit="1" data-operate-del="1" width="100%"  {if $show == 'aaaa' } style="display: none" {/if} >
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle; " data-field="id"><div class="th-inner ">序号</div><div class="fht-cell"></div></th>
            <th style="text-align: center; vertical-align: middle; " data-field="id"><div class="th-inner ">域名</div><div class="fht-cell"></div></th>
            <th style="text-align: center; vertical-align: middle; " data-field="id"><div class="th-inner ">店铺ID</div><div class="fht-cell"></div></th>
            <th style="text-align: center; vertical-align: middle; " data-field="tit"><div class="th-inner ">折扣</div><div class="fht-cell"></div></th>
        </tr>
    </thead>
    <tbody data-listidx="0">
        {if empty($data)}
            <tr class="no-records-found">
                <td colspan="5" align="center">没有找到匹配的记录</td>
            </tr>
        {else}
            {foreach $data as $k=>$v}
                <tr data-index="{$k}">
                    <td align="center">{$k+1}</td>
                    <td align="center">{$v['tit']}</td>
                    <td align="center">{$v['shopid']}</td>
                    <td align="center">{$v['discount']}%</td>
                </tr>
            {/foreach}
        {/if}


    </tbody>
</table>