<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                        <!-- btn-disabled -->
                        <a href="javascript:;" class="btn btn-success" onclick="fastDateSearch(0,0)" >今天</a>
                        <a href="javascript:;" class="btn btn-danger"  onclick="fastDateSearch(0,1)" >昨天</a>
                        <a href="javascript:;" class="btn btn-danger"  onclick="fastDateSearch(0,2)">最近7天</a>
                        <a href="javascript:;" class="btn btn-danger"  onclick="fastDateSearch(0,3)">最近30天</a>
                        <a href="javascript:;" class="btn btn-danger"  onclick="fastDateSearch(0,4)">本月</a>
                        <a href="javascript:;" class="btn btn-danger"  onclick="fastDateSearch(0,5)">上月</a>
                        <a href="javascript:;" class="btn btn-danger"  onclick="fastDateSearch(0,6,'c\\.paytime')">全部</a>
                        <a href="/admin/vipmanage/recode/deallog" style="margin-left: 20px" class="btn btn-warning dialogit" title="域名交易"><i class="fa fa-houzz"></i>域名交易记录</a>&nbsp;
                        <div class="dropdown btn-group {:$auth->check('domain/tradeddomain/multi')?'':'hide'}">
                            <ul class="dropdown-menu text-left" role="menu">
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                            </ul>
                        </div>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover" width="100%"></table>
                </div>
            </div>
            <input type="hidden" id="suid" value="{$suid}">
        </div>
    </div>
</div>
