
<table class="table table-striped">
    <thead>
        <tr>
            <th width="112px">标题</th>
            <th>数值</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>域名</td>
            <td>{$tit}&nbsp;&nbsp;<a href="https://whois.aliyun.com/whois/domain/{$tit}" target="_blank" class="btn btn-warning" >验证whois</a></td>
        </tr>
        <tr>
           <td>注册商</td>
           <td>{$data['registrar']}</td>
       </tr>
        <tr>
           <td>注册商url</td>
           <td>{$data['registrar_url']}</td>
       </tr>
        <tr>
           <td>注册商邮箱</td>
           <td>{$data['registrar_abuse_contact_email']}</td>
       </tr>
        <tr>
           <td>注册商号码</td>
           <td>{$data['registrar_abuse_contact_phone']}</td>
       </tr>
        <tr>
           <td>注册人</td>
           <td>{$data['registrant']}</td>
       </tr>
        <tr>
           <td>注册者邮箱</td>
           <td>{$data['registrant_contact_email']}</td>
       </tr>
        <tr>
           <td>创建日期</td>
           <td>{$data['creation_date']}</td>
       </tr>
        <tr>
           <td>注册时间</td>
           <td>{$data['registration_time']}</td>
       </tr>
       <tr>
           <td>更新时间</td>
           <td>{$data['updated_date']}</td>
       </tr>
       <tr>
           <td>到期时间</td>
           <td>{$data['registry_expiry_date']}</td>
       </tr>
       <tr>
           <td>whois服务器</td>
           <td>{$data['registrar_whois_server']}</td>
       </tr>
       <tr>
           <td>DNS</td>
           <td>{$data['name_server']}</td>
       </tr>
       <tr>
           <td>状态</td>
           <td>{$data['domain_status']['ok']}</td>
       </tr>
    </tbody>
</table>
