<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                        <!--<a href="javascript:;" class="btn btn-success" id="" data-value="" data-field="group" onclick="submitSpecial(this)">2020年</a>-->
                        <!--<a href="javascript:;" class="btn btn-success" id="" data-value="_2019" data-field="group" onclick="submitSpecial(this)">2019年</a>-->
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

