    <style type="text/css">
    @media (max-width: 375px) {
        .edit-form tr td input{width:100%;}
        .edit-form tr th:first-child,.edit-form tr td:first-child{
            width:20%;
        }
        .edit-form tr th:last-child,.edit-form tr td:last-child{
            display: none;
        }
    }
    .profile-avatar-container {
        position:relative;
        width:100px;margin:0 1%;
    }
    .profile-avatar-container .profile-user-img{
        width:100px;
        height:100px;
    }
    .profile-avatar-container .profile-avatar-text {
        display:none;
    }
    .profile-avatar-container:hover .profile-avatar-text {
        display:block;
        position:absolute;
        height:100px;
        width:100px;
        background:#444;
        opacity: .6;
        color: #fff;
        top:0;
        left:0;
        line-height: 100px;
        text-align: center;
    }
    .profile-avatar-container button{
        position:absolute;
        top:0;left:0;width:100px;height:100px;opacity: 0;
    }
    .sf:hover{
        color: orange;
    }
    #f1:hover{
        color: #0073EA;
    }
    #ylsz .form-control{
        width:70%;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="" id="add">
                <div class="widget-body no-padding">
                    <form id="add-form" class="edit-form form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                        <table class="table table-striped">
                            <thead>
                              
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <h3>基本设置</h3>
                                            <div class="form-group">
                                                <label for="value" class="control-label col-xs-12 col-sm-2">名称</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="text" class="form-control" id="value2" name="name" data-rule="required"  value="{$data.name}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-2">状态</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <div class="radio">
                                                        <label for="ifkf1"><input id="ifkf1" {if $data.status == 1} checked {/if}  name="status" type="radio" checked value="1">启用</label>
                                                        <label for="ifkf2"><input id="ifkf2" {if $data.status == 2} checked {/if}  name="status" type="radio" value="2">禁用</label>
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-sm-2">类型</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <div class="radio">
                                                        <label for="type1"><input id="type1"   name="type" onclick="hids()"  type="radio" {if $data.type == '0'} checked {/if} value="0">一口价/满减</label>
<!--                                                        <label for="type2"><input id="type2"   name="type" onclick="hids()" type="radio"  {if $data.type == 1} checked {/if} value="1">快捷搜索(分类)</label>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <h3>条件设置</h3>
                                            <div class="condition_type1">
                                                <div class="form-group">
                                                    <label for="value" class="control-label col-xs-12 col-sm-2">分类</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <select id="c-type" name="row[dtype]" class="form-control">
                                                            <option value="">所有类型</option>
                                                            {$option}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="condition_type0" {if $data.type == 1} style="display: none" {/if}>
                                                <div class="form-group">
                                                    <label for="value" class="control-label col-xs-12 col-sm-2">后缀</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <select id="c-type" name="row[hz]" class="form-control condition">
                                                            {if !isset($condition.hz)}
                                                            <option value="">所有后缀</option>
                                                            {foreach $hz as $v}
                                                            <option value="{$v}">{$v}</option>
                                                            {/foreach}
                                                            {else}
                                                            <option value="">所有后缀</option>
                                                            {foreach $hz as $v}
                                                            <option value="{$v}" {$v == $condition.hz ? 'selected':''} >{$v}</option>
                                                            {/foreach}
                                                            {/if}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="value" class="control-label col-xs-12 col-sm-2">建站性质</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <select id="c-type" name="row[icptrue]" class="form-control condition">
                                                            {if !isset($condition.icptrue)}
                                                                <option value="">不限</option>
                                                                <option value="0">无</option>
                                                                <option value="1">个人</option>
                                                                <option value="2">企业</option>
                                                                <option value="3">未备案</option>
                                                                <option value="1|2|4">存在</option>
                                                            {else}
                                                                <option value="">不限</option>
                                                                <option value="0" {$condition.icptrue == '0' ? 'selected' : ''} >无</option>
                                                                <option value="1" {$condition.icptrue == 1 ? 'selected' : ''} >个人</option>
                                                                <option value="2" {$condition.icptrue == 2 ? 'selected' : ''}>企业</option>
                                                                <option value="3" {$condition.icptrue == 3 ? 'selected' : ''} >未备案</option>
                                                                <option value="1|2|4" {$condition.icptrue == '1|2|4' ? 'selected' : ''} >存在</option>
                                                            {/if}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="value" class="control-label col-xs-12 col-sm-2">建站类型</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <select id="c-type" name="row[icpholder]" class="form-control condition">
                                                            {if !isset($condition.icpholder)}
                                                                <option value="">所有</option>
                                                                <option value="0">未知</option>
                                                                <option value="1">阿里云 </option>
                                                                <option value="2">腾讯云</option>
                                                                <option value="3">其它</option>
                                                                <option value="4">所有</option>
                                                            {else}
                                                                <option value="">所有</option>
                                                                <option value="0" {$condition.icpholder == '0' ? 'selected' : ''} >未知</option>
                                                                <option value="1" {$condition.icpholder == 1 ? 'selected' : ''} >阿里云 </option>
                                                                <option value="2" {$condition.icpholder == 2 ? 'selected' : ''} > 腾讯云</option>
                                                                <option value="3" {$condition.icpholder == 3 ? 'selected' : ''} >其它</option>
                                                                <option value="4" {$condition.icpholder == 4 ? 'selected' : ''} > 所有</option>
                                                            {/if}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="value" class="control-label col-xs-12 col-sm-2">质保域名</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <select id="c-type" name="row[quality]" class="form-control condition">
                                                            {if !isset($condition.quality)}
                                                                <option value="">全部</option>
                                                                {foreach $Think.config.quality_select as $k =>$v}
                                                                <option value="{$k}">{$v}</option>
                                                                {/foreach}
                                                            {else}
                                                                {foreach $Think.config.quality_select as $k =>$v}
                                                                <option  {$condition.quality == $k ? 'selected' : ''} value="{$k}">{$v}</option>
                                                                {/foreach}
                                                              <!--   <option value="0" {$condition.quality == '0' ? 'selected' : ''} >非质保</option>
                                                                <option value="1" {$condition.quality == 1 ? 'selected' : ''} >7天</option>
                                                                <option value="2" {$condition.quality == 2 ? 'selected' : ''} >30天</option>
                                                                <option value="3" {$condition.quality == 3 ? 'selected' : ''} >60天</option> -->
                                                            {/if}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="value" class="control-label col-xs-12 col-sm-2">特价域名</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <select id="c-type" name="row[special]" class="form-control condition">
                                                            {if !isset($condition.special)}
                                                                <option value="">全部</option>
                                                                <option value="0">未设置</option>
                                                                <option value="1">不是</option>
                                                                <option value="2">是</option>
                                                            {else}
                                                                <option value="">全部</option>
                                                                <option value="0" {$condition.special == '0' ? 'selected' : ''} >未设置</option>
                                                                <option value="1" {$condition.special == 1 ? 'selected' : ''} >不是</option>
                                                                <option value="2" {$condition.special == 2 ? 'selected' : ''} >是</option>
                                                            {/if}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="value" class="control-label col-xs-12 col-sm-2">域名类型</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <select id="c-type" name="row[stype]" class="form-control condition">
                                                             {if !isset($condition.stype)}
                                                                <option value="">全部</option>
                                                                <option value="0">未设置</option>
                                                                <option value="1">老域名</option>
                                                                <option value="2">高收录</option>
                                                                <option value="3">高权重</option>
                                                                <option value="4">高pr</option>
                                                                <option value="5">高外链</option>
                                                                <option value="6">高反链</option>
                                                            {else}
                                                                <option value="">全部</option>
                                                                <option value="0" {$condition.stype == '0' ? 'selected' : ''} >未设置</option>
                                                                <option value="1" {$condition.stype == 1 ? 'selected' : ''} >老域名</option>
                                                                <option value="2" {$condition.stype == 2 ? 'selected' : ''} >高收录</option>
                                                                <option value="3" {$condition.stype == 3 ? 'selected' : ''} >高权重</option>
                                                                <option value="4" {$condition.stype == 4 ? 'selected' : ''} >高pr</option>
                                                                <option value="5" {$condition.stype == 5 ? 'selected' : ''} >高外链</option>
                                                                <option value="6" {$condition.stype == 6 ? 'selected' : ''} >高反链</option>
                                                            {/if}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="value" class="control-label col-xs-12 col-sm-2">QQ检测</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <select id="c-type" name="row[qq_check]" class="form-control condition">
                                                            {if !isset($condition.qq_check)}
                                                                <option value="">全部</option>
                                                                <option value="0">未知</option>
                                                                <option value="1">未拦截</option>
                                                                <option value="2">已拦截</option>
                                                            {else}
                                                                <option value="">全部</option>
                                                                <option value="0" {$condition.qq_check == '0' ? 'selected' : ''} >未知</option>
                                                                <option value="1" {$condition.qq_check == 1 ? 'selected' : ''} >未拦截</option>
                                                                <option value="2" {$condition.qq_check == 2 ? 'selected' : ''} >已拦截</option>
                                                            {/if}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="value" class="control-label col-xs-12 col-sm-2">微信检测</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <select id="c-type" name="row[wx_check]" class="form-control condition">
                                                             {if !isset($condition.wx_check)}
                                                                <option value="">全部</option>
                                                                <option value="0">未知</option>
                                                                <option value="1">未拦截</option>
                                                                <option value="2">已拦截</option>
                                                            {else}
                                                                <option value="">全部</option>
                                                                <option value="0" {$condition.wx_check == '0' ? 'selected' : ''} >未知</option>
                                                                <option value="1" {$condition.wx_check == 1 ? 'selected' : ''} >未拦截</option>
                                                                <option value="2" {$condition.wx_check == 2 ? 'selected' : ''} >已拦截</option>
                                                            {/if}
                                                        </select>
                                                        <input type="hidden" name="id" value="{$data.id}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="value" class="control-label col-xs-12 col-sm-2">特殊属性</label>
                                                    <div class="col-xs-12 col-sm-8">
                                                        <select id="c-type" name="row[attc]" class="form-control condition">
                                                            <option value="">全部</option>
                                                             {if !isset($condition.attc)}
                                                                <option value="0">未设置</option>
                                                                <option value="1">二级不死</option>
                                                                <option value="2">大站</option>
                                                                <option value="3">绿标</option>
                                                            {else}
                                                                <option value="0" {$condition.attc == '0' ? 'selected' : ''} >未设置</option>
                                                                <option value="1" {$condition.attc == '1' ? 'selected' : ''} >二级不死</option>
                                                                <option value="2" {$condition.attc == '2' ? 'selected' : ''} >大站</option>
                                                                <option value="3" {$condition.attc == '3' ? 'selected' : ''} >绿标</option>
                                                            {/if}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3>SEO设置</h3>
                                            <div class="form-group">
                                                <label for="value" class="control-label col-xs-12 col-sm-2">SEO标题</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="" name="seo[seotit]" class="form-control" value="{$data.seotit}" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="value" class="control-label col-xs-12 col-sm-2">SEO关键字</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="" name="seo[seokey]" class="form-control" value="{$data.seokey}" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="value" class="control-label col-xs-12 col-sm-2">SEO描述</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <textarea name="seo[seodesc]" rows="6"class="form-control">{$data.seodesc}</textarea>
                                                </div>
                                            </div>

                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    
                                    <td align="center">
                                        <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                                        <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                                    </td>


                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
 
        

